.content_container {
  display: flex; /*set as one-dimensional layout*/
  flex-direction: column; /*order children one above the other*/
  justify-content: center; /*horizontally centers children*/
  align-items: center;
  position: relative;
  margin: 0px;
}

.logo_container {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex; /*set as one-dimensional layout*/
  flex-direction: row; /*order children side by side*/
  align-items: center;
  position: relative;
}

.headerImage {
  margin-right: 10px;
  width: 50px;
  height: auto;
}

h1 {
  margin: 0;
  color: #476f65;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}