.formContainer {
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px #ccc;
}

.formContainer .formHeader {
  margin-top: 0px;
  margin-bottom: 30px;
}

.formContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 7px;
}

.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 120px;
  margin-right: 5px;
}

.input {
  flex: 1;
  width: 100%;
  min-width: 150px;
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.buttonContainer {

  grid-column: span 2; /*Ensures the button container spans across both columns*/
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.button {
  border-radius: 12px;
  background: linear-gradient(40deg, rgba(0, 152, 121, 1), rgba(81, 183, 122, 1));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  border: none;
  cursor: pointer;
  width: 90px;
  height: 35px;
}

.button:hover {
  background: linear-gradient(40deg, rgba(0, 152, 121, .7), rgba(81, 183, 122, .8));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.msgSuccess {
  margin: 20px;
}

.msgError {
  margin: 20px;
  color: red;
}