.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #2e766968;
    margin-top: 30px;
    margin-bottom: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 16px;
    font-weight: 1000;
    border: 1px solid #d2d2d2;
    width: 100vw;
    left: 0;
    right: 0;
    border-radius: 200px;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
    gap: 10px;
  }
  
  .navItem a {
    color: #3b617b;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid transparent;
    white-space: nowrap;
    border-radius: 5px;
    margin: 0px;
  }
  
  .navItem a:hover {
    border-bottom: 2px solid #bbd9f5;
    color: #bbd9f5;
  }
  
  .active {
    border-bottom: 2px solid #274863;
  }