.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #6994b0;
    margin-top: 20px;
    margin-bottom: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 16px;
    font-weight: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #d2d2d2;
    width: 100vw;
    left: 0;
    right: 0;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
    gap: 15px;
  }
  
  .navItem a {
    color:#2e5676;
    text-decoration: none;
    padding: 7px 15px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
    white-space: nowrap;

    border-radius: 5px;
  }
  
  .navItem a:hover {
    border-bottom: 2px solid #73b2e6;
    color: #73b2e6;
  }
  
  .active {
    border-bottom: 2px solid #2e5676;
  }