.body {
  display: flex; /*set as one-dimensional layout*/
  flex-direction: column; /*order children one above the other*/
  max-width: 700px;
}

.header_container {
  /*left-aligns the section title with the current content*/
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  max-width: 700px
}

.buttonContainer {
  margin-top: 20px;
}

.button {
  width: 120px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  background: #507f73;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.loading {
  cursor: not-allowed;
  background-color: grey;
}

.loading:hover {
  cursor: not-allowed;
  background-color: grey;
}


.msgSuccess {
  margin-top: 10px;
  margin-bottom: 10px;
}

.msgError {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f03625;
}